.cont{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1rem;
    border-radius: 10px;
    background-color: #ddd;
}
.afte-main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont button{
    border: none;
    outline: none;
    margin-top: 3vw;
    padding: 1vw;
    border-radius: 10px;
}
.cont img{
    border-radius: 10px;
}