*{
    font-family: 'Josefin Sans';
}
.todo .container{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    
}
.todo{
    
    display: inline-block;
    justify-content: space-between;
    flex-direction: row;
    /* background: linear-gradient(113deg, #45048A 0%, #C40CC6 100%); */
}
.todo .container .new{
    background-color: #FFFFFF;
   border: none;
   border-radius: 10.65px;
   width: 14.6rem;
   height:3.4rem;
   box-shadow: 0 0 20px black;
}
.todo .container .new .addNewList{
    color:black;
    opacity: 100%;
}


.todo .container .popup .inputb{
    margin: 1rem;
    padding: 0.8rem;
    border: none;
    box-shadow: 0 0 5px black;
    font-size: 1.1rem;
}
.todo .container .popup .close{
    padding: 1rem;
}.todo .container .popup .popContent button{
    background-color: gray;
    padding: 1rem;
    color: white;
    border-radius: 9px;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.buttton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.buttton h4{
    font-size: 1.5rem;
}

.todo .container  .taskCard{
    padding: .5vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    
}

.todo .container  .taskCard .card{
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 20px;
    font-size: 1.5rem;
    margin: 1rem auto;
}
.cross{
    background: rgb(95, 2, 2);
    color: white;
    
    margin: 0.4rem;

}
.centerDiv button{
    padding:0 0.5rem;
    outline: none;
    border:none;
   
}
.cardname7{
    text-align: center;
    font-weight: 550;
    font-size: 1.2rem;
    
}
.listnamehead{
    font-weight: 400;
    font-style: normal;
   
   
}
.taskcardhead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    text-wrap: wrap;
    overflow-wrap: break-word;
}
.addtasktext{
    padding: 1rem;
    font-weight: 300;
}

.todo .container .popup{
    z-index: 200;
    height: 5rem;
    background-color: #FFFFFF;
    width: 18rem;
    height: 15rem;
    position: fixed;
    top:30%;
    left: 50%;
    background: white;
    box-shadow: 0 0 20px black;
    border: none;
    border-radius: 15px;
}
.todo .container  .taskCard .card button{
  
    border: none;
    outline: none;
    margin: 1rem;
    padding:.5rem;
    border-radius: 8px;
  
}
.card-buttons{
    display: flex;
    margin-top:1vw;
    justify-content: space-between;
    align-items: flex-end;
}

.todo .container .outer{
    flex: auto;
    background-color:#FFFFFF;
    
    display: flex;
    flex-direction: column;
   
    box-shadow: 0 0 20px black; 
    border: none;
    border-radius: 8px;
   margin: 1%;
   width: 25em;
  
}
.todo .container .outer .taskBox{
    background-color:#FFFFFF;
    width: 15em;
    margin-left: 8%;
    margin-bottom: 5%;
    border-radius: 25px;
    

}

.todo .taskBox,.taskBoxProg,.taskBoxComp{
    
    background-color: #FFFFFF;
    width: 20em;
    margin: 2%;
    border-radius: 25px;
    
}

.content{
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.heading{
    color: black;
    margin: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    color: black;
    font-size: 20px;
}
.todo .btn{
    width: 10%;
    margin-left:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6%;
    padding-right: 6%;
    
    
}
.description3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1.5rem;
}
.todo .outerProg{
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
   /* justify-content: center;
    */
    
   border: 1px solid black;
   margin: 1%;
   /* height: 100vh; */
   width: 25em;
   
}
.todo .outerComp{
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
   /* justify-content: center;
    */
   
   border: 1px solid black;
   margin: 1%;
   width: 25em;

}
.todo .new{
    margin: 1%;
    height: 10%;
}
.todo .popup{
    border: 1px solid black;
    height: 20%;
}
.todo .container .outer .taskCard .card .more1{
    font-size: 1.2rem;
    margin-top: 20%;
   

}
.card-buttons .more2{
    font-size: 1rem;    
    border-radius: 10px;
}
.popup .inputb{
    border-radius: 10px;
    padding: 5px;
}
.popup button{
    border-radius: 10px;
    padding: 2px;
    border: none;
    margin: .5vw;
}