.login-signup-hero{
    background: linear-gradient(113deg, #45048A 0%, #C40CC6 100%);
    font-family: 'Josefin Sans';
}
button{
    cursor: pointer;
}
.login-signup-hero{
  
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.login-signup-hero .mail-input {
    background: url('../assets/icon _email_.jpg') no-repeat scroll 7px;
    padding-left: 3.8vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    background-color: white;
    text-align: center;
}
.login-signup-hero .password-input{
    background: url('../assets/lock.jpg') no-repeat scroll 7px;
    padding-left: 3.8vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    background-color: white;
    text-align: center;
}
.login-signup-hero .login-form{
    display: flex;
    flex-direction: column;
    box-shadow:inset 0 0 2000px rgba(255,255,255,.5);
    padding: 5rem;
    background: rgba(255, 255, 255, 0.296);
    margin-top: 1vw;
    border-radius: 10px;
    align-items: center;
}
.login-form h2{
    font-size: 2.2rem;
    margin-top: 0;
    padding:3rem ;
    color: #0D3B66;
}
.login-form p{
    padding: 0.1rem;
}
.login-form input{
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}
.login-form button{
    
    text-align: center;
    background-color: #0D3B66;
    color: white;
    padding: 1rem;
    margin: 3rem;
    border-radius: 10px;
    border: none;
}
.login-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.wave-class{
    margin:auto auto;
    margin-bottom:0;
}
.login-img{
    height: 30rem;
}
.login-form a{
    text-decoration: none;
    color: white;
}
.wave-class{
    margin: auto;
    padding:0;
    margin-bottom: 0;
    width: 100%;
}