.main-nav{
    display:flex;
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}
.main-nav .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 1rem;
}
.main-nav figure{
    display:flex;
    align-items: center;
}
.main-nav .nav-buttons{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    font-size: 1.3rem;
    align-items: center;
}
.main-nav h1{
    font-size: 2.7rem;
    margin: 0;
    padding: 0;
    color:white;
}
.main-nav .nav-buttons button{
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: .7rem;
    cursor: pointer;
}
#b{
    background-color: #FEEBEB;
}
#a{
    background-color: #0D3B66;
    color: white;
}