*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;  
     text-wrap: nowrap;
     
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    font-size: 2.25rem;
    margin-top: 2rem ;
    margin-left: 4rem;
    margin-right: 3rem;
}
.userd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.form{
    text-align: left;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: transparent;
    padding: 1.1rem 0rem;
    margin: 2rem;
    font-size: 1.3rem;
    width: 30rem;
}
.avatar{
    height: 40rem;
}
.submit{
    color: white;
    margin: -1.4rem 6rem;
}