.add-project-button button{
    width: 85%;
    height: 2rem;
    margin-top: 0.2rem;
    font-size: small;
    border-radius: 0.6rem;
    border: none;
    background-color:#0d3b66; 
   
}
.add-project-button button:hover{
    background-color: #092946;
   
}
.add-project-button {
    display: flex;
    justify-content: center;
}