.header{

    height: 6.5%;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    background-color: #1b1b23;
}
.header img{
  width: 2.5rem;
  
}
.header h1{
  font-size: 1.5rem;
  color: white;
  
}