.navbutton{
    /* background-color: rgb(111, 102, 102); */
    height: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.navbutton button{
    background-color: transparent;
   color:white;
   font-size: 0.8rem;
   border-radius: none;
   height: 2rem;  
   border-radius: 0px; 
   border: none;
   /* width: 2.8rem; */
}
.navbutton button.click{
   background-color: transparent;
   color: white;
   border-bottom: 3px solid rgb(139, 124, 124);
}