.container{
    display: flex;
    justify-content: space-between;
}


.outer{
    flex: 1;
    background-color:#E2E2E5;
    border-radius: 25px;
    display: flex;
   justify-content: center;
   align-items: flex-start;
   height: 100vh; 
   border: 1px solid black;

   
    
    
}
.taskBox{
    
    background-color: #FFFFFF;
    width: 20em;
    margin-top: 10%;
    border-radius: 25px;
}
.content{
    color: white;
}