.signout{
    color:  #A80000;
    background-color:white;
    width: 7.67806rem;
    height: 2.46775rem;
    border: none;
    border-radius: 0.54319rem;
    font-size: 1.1rem;
    font-family: 'Josefin Sans';
    font-size: 1.08644rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5rem;
    
}
.loader{
    font-size: 4rem;
    font-family: 'Josefin Sans';
    text-align: center;
    margin: 3rem;
}
.UserProfileCards{
    border-radius: 0.9375rem;
    border: 1px solid hsl(0, 0%, 64%);
    background: #FFF;
    color: black;
    font-family: 'Josefin Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    padding: 2rem;
    margin: auto;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E2E2E2;
    height: 40rem;
    width: 40rem;
    border-radius: 0.9375rem;
    border: 2px solid #A4A4A4;
}
.UCardBody{
background: #FFF;
}

.cardHead h1{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    padding: 2rem 2rem 1rem 2rem;
}
.cardHead p{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
} 
.UCardBody ul{
list-style-type: none;
}
.UCardBody li{
    padding: 1rem;
    font-size: 1.4rem;
}