.otp-container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin-top: 2rem;
}
.otp-hero{
    height: 100%;
    background-color: white;
    margin: 0;
    margin-top:-2rem;
    padding-bottom:9.7%;
}
.otp-container input,label{
    font-size: 1.5rem;
}
.otp-container input{
    outline: none;
    border: none;
    background-color: transparent;
    margin-top: 1rem;
}
.otp-container hr{
    margin-bottom: 1rem;
}
.otp-image{
    margin-top: 5rem;
}
.otp-container h3{
    color: red;
}
.otp-hero button{
    font-size: 1.4rem;
    background-color: #E1583A;
    cursor: pointer;
    color:white;
    border:none;
    border-radius: 5px;
}
.otp-hero h2{
    margin-bottom: 0;
}