html{
    height: 99%
}
body{
    height: 100%;
}
#root{
    height: 100%
}
.otp-hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(113deg, #45048A 0%, #C40CC6 100%);
}
.otp-hero h1{
    font-size: 2.7rem;
}
.otp-hero h2{
    font-size: 2rem;
}
.otp-hero .main{
    display: flex;  
    justify-content: flex-start;
    gap: 10vw;
    align-items: center;
    margin-top: 6vw;
}
.otp-image{
    height: 30vw;
}
.otp-hero .main h2{
    text-align: center;
    color: #044078;
    font-size: 2.2rem;
}
#proceed {
    background-color: #3681B9;
    margin-top: 4rem;
    color: white;
}
.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: -100px;
    box-shadow:inset 0 0 2000px rgba(255,255,255,.5);
    padding: 2vw 6vw;
    border-radius: 10px;
}
.otp-container input{
    width: 100%;
    border-radius: 5px;
    font-size: 1.3rem;
    padding:10px 0 10px 50px;
    margin-top: 2rem;
}
.otp-hero .password{
    background: url("../assets/lock.jpg") no-repeat scroll 7px;
    background-color: white;
}
.otp-hero .otp{
    background: url("../assets/key.png") no-repeat scroll 7px;
    background-color: white;
}
.otp-wave{
    margin: auto;
    margin-bottom: 0;
    width:100%;
}
.otp-container button{
    background-color: #3681B9;
    outline: none;
    border: none;
    padding: .6vw;
    border-radius: 10px;
}